<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.heydoctor.app.domain.vo.ModelVO" alias="modelVO"/>
        <typeAlias type="com.heydoctor.app.domain.dto.ModelDTO" alias="modelDTO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.AnswerVO" alias="AnswerVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.BookReqeustVO" alias="BookReqeustVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.CareerVO" alias="CareerVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.DoctorVO" alias="DoctorVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.FileVO" alias="FileVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.HospitalVO" alias="HospitalVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.QuestionVO" alias="questionVO"/>
        <typeAlias type="com.heydoctor.app.domain.dto.QuestionDTO" alias="questionDTO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.ReplyVO" alias="ReplyVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.UserVO" alias="UserVO"/>
        <!--<typeAlias type="com.heydoctor.app.domain.vo.MainVO" alias="MainVO"/>-->
        <typeAlias type="com.heydoctor.app.domain.vo.MainRequestVO" alias="MainRequestVO"/>
        <typeAlias type="com.heydoctor.app.domain.vo.QnaVO" alias="QnaVO"/>
        <typeAlias type="com.heydoctor.app.domain.dto.QnaDTO" alias="QnaDTO"/>
        <typeAlias type="com.heydoctor.app.domain.dto.QuestionListDTO" alias="QuestionListDTO"/>
    </typeAliases>
</configuration>