.c-grid.fluid[data-v-47aa3e0a] {
    width: 100%;
    padding: 0;
}

.c-grid[data-v-47aa3e0a] {
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
body,
div,
footer,
header,
section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

div {
    display: block;
}

body {
    width: 100%;
    color: #495057;
    font-family: Pretendard, Apple SD Gothic Neo, Helvetica Neue, Helvetica, Arial, Trebuchet MS, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background-color: #fff;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    width: 100%;
    min-height: 100%;
    font-size: 10px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    html ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border: 3px solid #fff;
    }
}

@media only screen and (min-width: 768px) {
    html ::-webkit-scrollbar-thumb {
        height: 50px;
        width: 50px;
        background: #eaecee;
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
    }
}

@media only screen and (min-width: 768px) {
    html ::-webkit-scrollbar-track {
        background: #f3f4f5;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    }
}

body ::selection {
    color: inherit;
    background-color: #e6e6e6;
    background-color: fade(#000, 10);
    cursor: text;
}

@media only screen and (min-width: 768px){
.c-row[data-v-5aa8e08e] {
    margin-right: -24px;
    margin-left: -24px;
}}

.c-row[data-v-5aa8e08e] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}

article, aside, body, div, footer, header, section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

@media only screen and (min-width: 768px){
html ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border: 3px solid #fff;
}}

@media only screen and (min-width: 768px){
.c-new-col {
    padding-right: 12px;
    padding-left: 12px;
}}
.c-new-col {
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.c-new-grid.container {
    max-width: 100vw;
}

@media only screen and (min-width: 768px){
.c-new-grid.container {
    max-width: 1140px;
}}


.c-new-grid {
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (min-width: 768px){
.container {
    width: 1170px;
}}



.clearfix:after, .container:after, .row:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
    content: " ";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}


@media only screen and (min-width: 768px){
html ::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    background: #eaecee;
    border-radius: 8px; 
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);
}}

@media only screen and (min-width: 768px){
html ::-webkit-scrollbar-track {
    background: #f3f4f5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}}

@media only screen and (min-width: 768px){
.c-new-row {
    margin-right: -12px;
    margin-left: -12px;
}}

.c-new-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}

.c-new-col.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 768px){
.new-col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}}

@media only screen and (min-width: 768px){
.c-new-col {
    padding-right: 12px;
    padding-left: 12px;
}}

#request .request-container {
    margin-top: 40px;
    margin-bottom: 160px;
    background: #fff;
}
.py-18 {
    padding-top: 18px!important;
    padding-bottom: 18px!important;
}
.px-24 {
    padding-left: 24px!important;
    padding-right: 24px!important;
}


#request .request-container-title {
    font-size: 26px;
    line-height: 37px;
    color: #282c30;
    font-weight: 600;
    margin-bottom: 24px;
}

h2, .h2 {
    font-size: 30px;
    line-height: 42px;
    color: #282c30;
    font-weight: 600;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


#request .request-container-title-sub {
    color: #7e848a;
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 25px;
    word-break: keep-all;
    word-wrap: break-word;
    font-weight: 400;
}

b, strong {
    font-weight: inherit;
    font-weight: 600;
}

#request .request-box {
    position: relative;
    *zoom: 1;
}

#request .request-box:after {
    clear: both;
}

.category-wrapper {
    display: flex;
    margin-bottom: 10px;
    column-gap: 12px;
}

.c-dropdown {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}
.date, .small {
    font-size: 13px;
    color: #adb5bd;
    font-weight: 400;
}

.c-dropdown--item-group {
    position: relative;
}

.c-select.small .c-select--box.c-select--basic {
    padding: 6.5px 12px;
}
.c-select--box.c-select--basic {
    padding: 9px 16px;
    border-radius: 4px;
    border: 1px solid #e1e4e6;
}
.c-select--box {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.c-select--item {
    width: 100%;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.c-select.small .c-select--box input {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #202325;
}
.c-select--item>div, .c-select--item input {
    width: 100%;
    cursor: pointer;
}
.c-select--input {
    border: none;
    padding: 0;
}
input, input[type=search], input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: Pretendard,Apple SD Gothic Neo,Helvetica Neue,Helvetica,Arial,Trebuchet MS,sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


.c-select--icon {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-select--icon svg {
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    cursor: pointer;
}

.c-icon[data-v-bd9f2bcc] {
    cursor: auto;
    background: transparent!important;
}
svg:not(:root) {
    overflow: hidden;
}

.mb-8 {
    margin-bottom: 8px!important;
}

.c-text-field {
    position: relative;
}

.c-text-field--input-wrapper {
    position: relative;
}

.c-text-field--input.c-text-field--outline {
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
}
.c-text-field--input {
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

input, input[type=search], input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: Pretendard,Apple SD Gothic Neo,Helvetica Neue,Helvetica,Arial,Trebuchet MS,sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
input {
    outline: none!important;
}

.request-textarea-wrapper {
    border-radius: 3px;
    border: 1px solid #e1e4e7;
    padding: 16px 12px 50px;
    -webkit-appearance: none;
    vertical-align: top;
    transition: all .2s ease;
}

.request-textarea {
    float: inherit;
    border: none;
    padding: 0;
}

textarea {
    overflow: auto;
    width: 100%;
    min-height: 160px;
    padding: 15px;
    resize: none;
    border: 1px solid #e1e4e7;
    line-height: 150%!important;
    color: #495057;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none!important;
}

.mt-10 {
    margin-top: 10px!important;
}
.mt-10 {
    margin-top: 10px!important;
}
.text-caption {
    color: #adb5bd!important;
}
.float-left {
    float: left!important;
}
.h7 {
    text-align: center;
    font-size: 13px!important;
    line-height: 20px;
    font-weight: 400;
}

.text-caption {
    color: #adb5bd!important;
}

#request .request-box+.request-box {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px!important;
}

.f-semi-bold {
    font-weight: 600!important;
}
.mb-4 {
    margin-bottom: 4px;
}
.c-body1 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
}
div, h1, h2, h3, h4, h5, h6, p, span {
    word-break: keep-all;
    word-wrap: break-word;
}


.c-body2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

#request .request-box .company-wrapper, #request .request-box .job-wrapper, #request .request-box .company-wrapper .input-motion-box, #request .request-box .job-wrapper .input-motion-box {
    display: inline-block;
}

.c-text-field--input-wrapper {
    position: relative;
}

.mb-15 {
    margin-bottom: 15px!important;
}
#request .request-box .answer-radio-list {
    height: 80px;
}

ul {
    padding-left: 0;
    list-style: none;
}

.answer-radio-list {
    position: relative;
    *zoom: 1;
    padding: 0 60px;
}

.answer-radio-list:before {
    content: "빠른 답변";
    left: 0;
}

.answer-radio-list:before, .answer-radio-list:after {
    position: absolute;
    top: 17px;
    font-size: 14px;
    font-weight: 400;
    color: #838990;
}

.answer-radio-list:before, .answer-radio-list:after {
    content: " ";
    display: table;
}

.answer-radio-list-container .answer-radio-list:after {
    right: inherit;
    left: 290px;
}

.float-right {
    float: right!important;
}

.float-left {
    float: left!important;
}
input[type=checkbox], input[type=radio] {
    display: none;
}

input[type=checkbox]+label {
    display: flex;
    -js-display: flex;
    -ms-display: flexbox;
    align-items: center;
}

.text-sub {
    color: #7e848a!important;
}

input[type=checkbox]+label:before {
    width: 20px;
    height: 20px;
    content: "✓";
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background: #fff;
    border: 1px solid #e1e4e7;
    text-align: center;
    display: -moz-inline-stack;
    zoom: 1;
}

.c-button.full {
    width: 100%;
}

.c-button.xlarge {
    height: 60px;
    padding: 0 26px;
    min-width: 84px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.primary {
    background-color: #2a7de1;
}

.c-button {
    color: #fff;
    background-color: #2a7de1;
    border: none;
    border-radius: 6px;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}