
.header-wrapper{
    background-color: #fff;
}

/*게시판 헤더 부분*/
@media only screen and (min-width: 768px){
    .c-sub-header:not(.transparent) {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .02);
    }}

    @media only screen and (min-width: 768px){
        .c-sub-header.appear {
            top: 69px;
        }
    }
.c-sub-header {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 24px;
    -webkit-transition: top .1s linear, opacity .1s ease-in;
    transition: top .1s linear, opacity .1s ease-in;
    width: 100vw;
    z-index: 80;
}

.h1, .h2, .h3, .h4, .h5, .h6, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
}

article, aside, footer, header, nav, section {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-family: "Pretendard", "Apple SD Gothic Neo", "Helvetica Neue", Helvetica, Arial, "Trebuchet MS", sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}

*, :after, :before {
    box-sizing: border-box;
    outline: none;
}

article, aside, body, div, footer, header, section {
    user-select: text;
}
body {
    line-height: 1;
}
:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

*, :after, :before {
    box-sizing: border-box;
}


@media only screen and (min-width: 768px){
html ::-webkit-scrollbar {
    border: 3px solid #fff;
    height: 8px;
    width: 8px;
}}

@media only screen and (min-width: 768px){
html ::-webkit-scrollbar-thumb {
    background: #eaecee;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);
    height: 50px;
    width: 50px;
}}

@media only screen and (min-width: 768px){
html ::-webkit-scrollbar-track {
    background: #f3f4f5;
    /* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}}

body ::selection {
    background-color: #e6e6e6;
    color: inherit;
    cursor: text;
}
@media only screen and (min-width: 768px){
    .c-new-grid.container{
        max-width: 1140px;
    }
}
.c-new-grid.container{
    max-width: 100vw;
}

.c-new-grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}


@media only screen and (min-width: 768px){
.c-new-row {
    margin-left: -12px;
    margin-right: -12px;
}
}

@media only screen and (min-width: 768px){
.c-new-col {
    padding-left: 12px;
    padding-right: 12px;
}}

.c-new-col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;
}

.with-header.c-tabs--menu-container:not(.c-tabs--vertical) {
    border-bottom-color: #f3f4f5;
}

@media only screen and (min-width: 768px){
.c-sub-header .c-tabs--menu-container {
    border-bottom: 1px solid transparent;
}}

.c-sub-header .c-tabs--menu-container {
    border-bottom: 1px solid #f3f4f5;
}

.c-tabs--menu-container:not(.c-tabs--vertical) {
    border-bottom: 1px solid #eaecee;
}

.c-sub-header-tabs {
    overflow: visible;
}
.c-tabs--menu-container{
    background-color: #fff;
    width: 100%;
}
.c-tabs--horizontal .c-tabs--menu-wrapper{
    width: 100%;
}

.c-tabs--menu-wrapper{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.c-tabs--horizontal .c-tabs--menu-button:not(:last-child) {
    margin-right: 12px;
}

.c-tabs--menu-button {
    -webkit-box-align: center;
    align-items: center;
    display: flex!important;
    position: relative;
}

 .c-tabs--menu-button>a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a {
    -webkit-text-decoration-skip: objects;
    background-color: transparent;
}

.with-header .c-tabs--menu-button .c-button {
    height: 43px!important;
}

.c-tabs--menu-button .c-button {
    background: none!important;
    border: 0;
    color: #adb3b8;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: auto;
    outline: 0;
    padding: 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.c-button.medium {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
}


.c-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: #2a7de1;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: Pretendard,Apple SD Gothic Neo,Helvetica Neue,Helvetica,Arial,Trebuchet MS,sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.c-button--icon .c-button--loading{

    display: flex!important;
}

 .c-tabs--menu-button .c-button.active {
    font-size: 14px;
    font-weight: 600!important;
    font-weight: 400;
    line-height: 20px;
}

.primary {
    background-color: #2a7de1;
}

.c-tabs--menu-button.active:after {
    background-color: #2a7de1;
}

.active:after {
    /* background-color: #595f63; */
    bottom: -1px;
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* 게시판 헤더 끝 */

@media only screen and (min-width: 768px){
.fake-header[data-v-28ae1179] {
    height: 113px;
}
}

#main-grid {
    padding-top: 0!important;
}

.c-new-grid.fluid{
    padding: 0;
}

@media only screen and (min-width: 768px){
.main-grid-component {
    padding-top: 70px!important;
}
}

.main-grid-component {
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    padding-top: 48px!important;
}

.c-new-grid{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.c-new-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.c-new-col.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 768px){
.new-col-lg-12{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}}

@media only screen and (min-width: 768px){
.c-new-col[data-v-59015b26] {
    padding-left: 12px;
    padding-right: 12px;
}}
@media only screen and (min-width: 768px){
.c-new-row {
    margin-left: -12px;
    margin-right: -12px;
}}

.c-new-col.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 768px){
.c-new-col{
    padding-left: 12px;
    padding-right: 12px;
}}

a {
    -webkit-text-decoration-skip: objects;
    background-color: transparent;
}

a, a:active, a:focus, a:hover {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /* text-decoration: underline; */
}

@media only screen and (min-width: 768px){
.community-timeline-card {
    border: 1px solid #eaecee;
    border-radius: 10px;
    margin-bottom: 20px;
}}

.community-timeline-card {
    background: #fff;
    cursor: pointer;
    margin-bottom: 12px;
    position: relative;
}

.c-box {
    display: block;
}

.p-relative {
    position: relative!important;
}



@media only screen and (min-width: 768px){
.community-timeline-card .main-content-container {
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
}}

.community-timeline-card .main-content-container .main-content-wrapper {
    max-width: 100%;
}

.community-timeline-card .timeline-content .community-timeline-card .timeline-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.c-headline7 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

div h1 h2 h3 h4 h5 h6 p span {
    word-wrap: break-word;
    word-break: keep-all;
}

.mb-12 {
    margin-bottom: 12px!important;
}

@media only screen and (min-width: 768px){
.community-timeline-card .timeline-content {
    min-height: 40px;
}}

.community-timeline-card .timeline-content{
    margin-bottom: 8px;
    position: relative;
}


.community-timeline-card, .timeline-content, .community-timeline-card, .timeline-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.c-body2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.community-timeline-card, .timeline-content, .more-text {
    color: #adb3b8;
}

.flex, .justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex, .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex, .align-items-center {
    align-items: center;
}

.flex, .flex-row {
    flex-direction: row;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mt-24 {
    margin-top: 24px!important;
}

.c-rating-group{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: row;
    flex-direction: row;
}

.c-icon-rating {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.c-icon-rating, .c-text-rating {
    margin-right: 12px;
}

.c-icon {
    background: transparent!important;
    cursor: auto;
}

svg:not(:root) {
    overflow: hidden;
}

.mr-4 {
    margin-right: 4px!important;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

mb-20 {
    margin-bottom: 20px!important;
}


.case-list-to-pt-landing-banner {
    position: relative;
}

.c-pointer {
    cursor: pointer!important;
}

.case-list-to-pt-landing-banner .main-copy {
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.c-headline7 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.case-list-to-pt-landing-banner img{
    position: relative;
}

img {
    border-style: none;
    max-width: 100%;
}

.infinite-loading-container {
    clear: both;
    text-align: center;
}

.infinite-loading-container {
    background: #fff;
}

@media only screen and (min-width: 768px){
.c-box {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}}

.c-box {
    align-items: flex-start;
    display: flex!important;
    flex-direction: column;
}

.c-body1{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
}

.f-semi-bold {
    font-weight: 600!important;
}

div {
    display: block;
}
.primary.outline {
    background-color: transparent;
    border: 1px solid #2a7de1;
   
}

.c-button--icon, .c-button--loading{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.btn-try-infinite {
    margin-top: 5px;
    padding: 5px 10px;
    color: #999;
    font-size: 14px;
    line-height: 1;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

@media only screen and (min-width: 768px){
.new-col-lg-3{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}}

.case-list-side-box{
    margin-left: 16px;
    position: fixed;
    width: 243px;
}

.case-list-side-box .user-profile-section{
    margin-bottom: 16px;
}

.user-profile-section {
    align-items: center;
    display: flex!important;
    flex-direction: row;
    position: relative;
}

.mr-10 {
    margin-right: 10px!important;
}

.image-upload-wrapper label {
    cursor: pointer;
    display: block;
    position: relative;
}

.image-upload-wrapper label .c-avatar--container {
    display: block;
}

.large {
    height: 68px;
    line-height: 68px;
    width: 68px;
}

.c-avatar--container{
    display: inline-block;
    position: relative;
    text-align: center;
}

.c-avatar.image{
    background-size: 100% 100%;
}

.c-avatar {
    border-radius: 100%;
    display: block;
}

.c-avatar--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.image-upload-wrapper input[type=file]{
    clip: rect(0,0,0,0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}


input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.user-profile-section .user-information-wrapper div{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.f-regular {
    font-weight: 400!important;
}

.mb-4 {
    margin-bottom: 4px!important;
}

.c-caption1{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.membership-status-text-container {
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
}

.membership-status-text-container .c-icon {
    cursor: pointer;
    transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
}

.c-icon {
    background: transparent!important;
    cursor: auto;
}

.slide-fade.hide{
    max-height: 0;
    opacity: 0;
}

.slide-fade {
    max-height: 135px;
    overflow: hidden;
    transition: all .2s linear;
}

.c-divider.dash{
    border-style: dashed;
}
.c-divider.horizontal{
    border-top: 1px;
    height: 0;
    width: inherit;
}
.c-divider {
    border: 0;
    margin: 0;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.membership-status-item-container {
    border-radius: 0 0 4px 4px;
    display: flex!important;
    flex-direction: row;
}

.membership-status-item-container .membership-status-wrapper{
    width: 100%;
}

ol, ul {
    list-style: none;
}

.membership-status-item-container .membership-status-wrapper li{
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.f-regular {
    font-weight: 400!important;
}

@media only screen and (min-width: 768px){
.c-application.c-narrow-button.small.EID-CM054-original{
    display: none!important;
}}


.c-narrow-button.small {
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    line-height: 15px;
    padding: 2px;
}

.c-narrow-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    justify-content: center;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.mt-16 {
    margin-top: 16px!important;
}

.c-narrow-button--icon{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.c-button.full{
    width: 100%;
}
.c-button--icon, .c-button--loading {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.action-button-container {
    display: flex!important;
    flex-wrap: wrap;
    gap: 6px;
}

.action-button{
    align-items: center;
    border-radius: 8px!important;
    display: flex!important;
    justify-content: center;
}

.c-box--has-border{
    border: 1px solid;
    border-radius: 2px;
}

.pt-seoul-woman-up-banner{
    cursor: pointer;
    display: flex!important;
}

@media only screen and (min-width: 768px){
.EID-CM054-original{
    display: none!important;
}}

.fab-with-sub-item-container .fab-with-overlay {
    transition: all .3s ease;
}

@media only screen and (min-width: 768px) and (min-width: 1140px){
.floating-button{
    left: calc(50% + 496px);
}}
.floating-button {
    align-items: center;
    background-color: #2a7de1;
    border-radius: 48px;
    bottom: 72px;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.06);
    cursor: pointer;
    display: flex!important;
    height: 58px;
    justify-content: center;
    position: fixed;
    right: 20px;
    width: 58px;
    z-index: 9;
}

.floating-button .c-icon {
    cursor: pointer;
}

@media only screen and (min-width: 768px){
.new-col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}}

@media only screen and (min-width: 768px){
.new-col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}}

/* .c-header-menu.active>a {
    color: #2a7de1!important;
    font-weight: 600;
} */
.c-tabs--menu-button :hover {
    color: #2A7DE1;
}
.c-tabs--menu-button.active button {
    color: #2A7DE1;
    color: #2a7de1!important;
  }
  