<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../static/css/question-board-Seo/question-board-question.css" />
<body>
    <div data-v-47aa3e0a="" class="c-application c-grid main-grid-component fluid"
        style="min-height: 100vh; background-color: rgb(252, 252, 252);">
        <div data-v-5aa8e08e="" class="c-application c-row" data-v-47aa3e0a="">
            <div data-v-59015b26="" data-v-41258f40="" class="c-application c-new-col" data-v-5aa8e08e=""><span
                    data-v-41258f40="" data-v-59015b26="">
                    <div data-v-71b16de0="" data-v-011f88f8="" data-v-41258f40=""
                        class="c-application c-new-grid container" style="background-color: inherit;">
                        <div data-v-e9df5a02="" data-v-011f88f8="" class="c-application c-new-row" data-v-71b16de0="">
                            <div data-v-59015b26="" data-v-41258f40=""
                                class="c-application c-new-col request new-col-lg-8 no-gutters" id="request"
                                data-v-e9df5a02="">
                                <div data-v-41258f40="" data-v-59015b26="" class="request-container px-24 py-18">
                                    <h2 data-v-41258f40="" data-v-59015b26="" class="request-container-title"> 질문하기 <p
                                            data-v-41258f40="" data-v-59015b26="" class="request-container-title-sub">
                                            <strong data-v-41258f40="" data-v-59015b26="">현직자</strong>에게 <strong
                                                data-v-41258f40="" data-v-59015b26="">정확한 정보</strong>를 물어보세요. </p>
                                    </h2>
                                    <div data-v-41258f40="" data-v-59015b26="" class="request-box">
                                        <div data-v-41258f40="" data-v-59015b26="" class="category-wrapper"><span
                                                data-v-41258f40="" data-v-59015b26="">
                                                <div data-v-02c40fcc="" data-v-4457664e="" data-v-41258f40=""
                                                    id="c-dropdown-5" class="c-application c-dropdown c-select small">
                                                    <!---->
                                                    <div data-v-02c40fcc="" class="c-dropdown--item-group"
                                                        style="max-width: 240px;">
                                                        <div data-v-02c40fcc="">
                                                            <div data-v-4457664e="" data-v-02c40fcc=""
                                                                class="c-select--box c-select--basic">
                                                                <div data-v-4457664e="" data-v-02c40fcc=""
                                                                    class="c-select--item"><input data-v-4457664e=""
                                                                        data-v-02c40fcc="" type="text"
                                                                        placeholder="카테고리" readonly="readonly"
                                                                        class="c-select--input"></div>
                                                                <div data-v-4457664e="" data-v-02c40fcc=""
                                                                    class="c-select--icon"><svg data-v-bd9f2bcc=""
                                                                        data-v-4457664e="" width="10" height="5"
                                                                        viewBox="0 0 10 5" fill="#595F63"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="c-application c-icon" data-v-02c40fcc=""
                                                                        style="fill: rgb(118, 125, 130);">
                                                                        <path data-v-bd9f2bcc=""
                                                                            d="M5.35356 4.64645C5.1583 4.84171 4.84171 4.84171 4.64645 4.64645L0.853554 0.853553C0.538572 0.538571 0.761655 1.46033e-07 1.20711 1.84975e-07L8.79289 -1.05529e-07C9.23835 -6.65858e-08 9.46143 0.538571 9.14645 0.853553L5.35356 4.64645Z">
                                                                        </path>
                                                                    </svg></div>
                                                            </div><!---->
                                                        </div><!---->
                                                    </div>
                                                </div>
                                            </span><!----></div>
                                        <div data-v-41258f40="" data-v-59015b26="" class="mb-8"><span data-v-41258f40=""
                                                data-v-59015b26="">
                                                <div data-v-7c836184="" data-v-41258f40=""
                                                    class="c-application c-text-field">
                                                    <div data-v-7c836184="" class="c-text-field--input-wrapper"><input
                                                            data-v-7c836184="" id="question" placeholder="제목을 입력하세요"
                                                            name="question" align="left" autocomplete="off" type="text"
                                                            class="c-text-field--input c-text-field--outline"
                                                            style="text-align: left;"><!----><!----></div><!---->
                                                </div>
                                            </span></div><span data-v-41258f40="" data-v-59015b26="">
                                            <div data-v-41258f40="" class="request-textarea-wrapper"><textarea
                                                    data-v-41258f40="" cols="30" rows="10"
                                                    placeholder="카테고리를 선택해 원하는 고민을 작성해보세요." maxlength="500"
                                                    class="request-textarea"></textarea></div>
                                            <div data-v-41258f40="" class="h7 text-caption mt-10 float-left"> 글자수: <span
                                                    data-v-41258f40="" id="length" class="length">0</span> / 2000 <!---->
                                            </div>
                                        </span>
                                        <div data-v-241c7b87="" data-v-41258f40="" newclass="true" data-v-59015b26="">
                                            <div data-v-241c7b87="" class="h7 text-caption request-box-userInfo">
                                                <div data-v-241c7b87="" class="request-box-userInfo-infoTip"><i
                                                        data-v-241c7b87="" class="icon icon-tip icon-tip-info"></i>
                                             
                                                <div data-v-241c7b87="" class="request-box-userInfo-open">
                                                    <div data-v-8b7b5e2a="" data-v-241c7b87=""
                                                        class="c-application c-checkbox small"><input data-v-8b7b5e2a=""
                                                            id="c-checkbox-7" type="checkbox"><label data-v-8b7b5e2a=""
                                                            for="c-checkbox-7" class="">

                                                        </label></div>
                                                </div>
                             
                                                <div data-v-16c10fa5="" data-v-241c7b87=""
                                                    class="c-application c-avatar--container mr-5 xsmall"><i
                                                        data-v-16c10fa5="" class="c-avatar profile xsmall"></i>
                                                    <div data-v-16c10fa5="" class="c-avatar--item"><svg
                                                            data-v-bd9f2bcc="" data-v-16c10fa5="" width="16" height="16"
                                                            viewBox="0 0 16 16" fill="black"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            class="c-application c-icon"
                                                            style="fill: rgb(207, 212, 215);">
                                                            <circle data-v-bd9f2bcc="" cx="8" cy="4.5" r="2.5"></circle>
                                                            <path data-v-bd9f2bcc=""
                                                                d="M4.11325 10.0801C4.97961 8.78058 6.43814 8 8 8C9.56186 8 11.0204 8.78058 11.8868 10.0801L12.0826 10.3739C13.1159 11.9239 12.0048 14 10.142 14H5.85801C3.99518 14 2.88408 11.9239 3.91739 10.3739L4.11325 10.0801Z">
                                                            </path>
                                                        </svg><!----><!----></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-41258f40="" data-v-59015b26="" class="request-box">
                                        <div data-v-41258f40="" data-v-59015b26="" class="mb-10">
                                            <div data-v-45a3e27e="" data-v-41258f40=""
                                                class="c-application c-typography mb-4 c-body1 f-semi-bold"
                                                data-v-59015b26="" style="color: rgb(60, 65, 68);"> 만나고 싶은 현직자 <span
                                                    data-v-45a3e27e="" data-v-41258f40=""
                                                    class="c-application c-typography c-body1 f-semi-bold"
                                                    style="color: rgb(173, 179, 184);"> (선택) </span></div>
                                            <div data-v-45a3e27e="" data-v-41258f40=""
                                                class="c-application c-typography c-body2" data-v-59015b26=""
                                                style="color: rgb(118, 125, 130);"> 입력 시, 해당 현직자들에게 멘티님의 요청이 우선 노출됩니다.
                                            </div>
                                        </div>
                                        <div data-v-41258f40="" data-v-59015b26="" class="request-box-cont">
                                            <div data-v-41258f40="" data-v-59015b26="" class="company-wrapper"><span
                                                    data-v-41258f40="" data-v-59015b26="">
                                                    <div data-v-7c836184="" data-v-41258f40=""
                                                        class="c-application c-text-field">
                                                        <div data-v-7c836184="" class="c-text-field--input-wrapper">
                                                            <input data-v-7c836184="" id="company" placeholder="회사명"
                                                                name="company" align="left" autocomplete="off"
                                                                type="text"
                                                                class="c-text-field--input c-text-field--outline"
                                                                style="text-align: left;"><!----><!----></div><!---->
                                                    </div>
                                                </span><!----><!----></div>
                                            <div data-v-41258f40="" data-v-59015b26="" class="job-wrapper"><span
                                                    data-v-41258f40="" data-v-59015b26="">
                                                    <div data-v-7c836184="" data-v-41258f40=""
                                                        class="c-application c-text-field">
                                                        <div data-v-7c836184="" class="c-text-field--input-wrapper">
                                                            <input data-v-7c836184="" id="job" placeholder="직무"
                                                                name="job" align="left" autocomplete="off" type="text"
                                                                class="c-text-field--input c-text-field--outline"
                                                                style="text-align: left;"><!----><!----></div><!---->
                                                    </div>
                                                </span><!----><!----></div>
                                        </div>
                                    </div>
                                    <div data-v-41258f40="" data-v-59015b26="" class="request-box">
                                        <div data-v-45a3e27e="" data-v-41258f40=""
                                            class="c-application c-typography mb-15 c-body1 f-semi-bold"
                                            data-v-59015b26="" style="color: rgb(60, 65, 68);"> 멘토링 설정 </div>
                                        <div data-v-41258f40="" data-v-59015b26="" class="request-box-cont">
                                            <div data-v-41258f40="" data-v-59015b26=""
                                                class="answer-radio-list-container">
                                                <ul data-v-41258f40="" data-v-59015b26="" class="answer-radio-list">
                                                    <li data-v-41258f40="" data-v-59015b26=""><input data-v-41258f40=""
                                                            data-v-59015b26="" id="answerFast" type="radio"
                                                            name="answerOption"><label data-v-41258f40=""
                                                            data-v-59015b26="" for="answerFast"
                                                            class="answerFast_label"></label><!----></li>
                                                    <li data-v-41258f40="" data-v-59015b26=""><input data-v-41258f40=""
                                                            data-v-59015b26="" id="answerDefault" type="radio"
                                                            name="answerOption" checked="checked"><label
                                                            data-v-41258f40="" data-v-59015b26="" for="answerDefault"
                                                            class="answerDefault_label"></label>
                                                        <div data-v-41258f40=""
                                                            class="v-popover c-application needs-tooltip center open"
                                                            data-v-59015b26="">
                                                            <div aria-describedby="popover_g4xb0v45ou" class="trigger"
                                                                style="display: inline-block;"></div>
                                                            <div id="popover_g4xb0v45ou" aria-hidden="false"
                                                                class="c-tooltip vue-popover-theme open"
                                                                x-placement="bottom"
                                                                style="visibility: visible; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(47px, 36px, 0px);">
                                                                <div class="wrapper">
                                                                    <div class="c-tooltip--inner"
                                                                        style="position: relative;">
                                                                        <div>
                                                                            <div data-v-45a3e27e=""
                                                                                class="c-application c-typography c-tooltip--content-wrapper c-body2"
                                                                                style="color: rgb(89, 95, 99);"> 맞는
                                                                                현직자에게 <u data-v-41258f40=""
                                                                                    data-v-45a3e27e="">우선</u>으로 답변받고
                                                                                싶어요. </div>
                                                                        </div>
                                                                        <div data-v-b329ee4c="" tabindex="-1"
                                                                            class="resize-observer"><object
                                                                                aria-hidden="true" tabindex="-1"
                                                                                type="text/html"
                                                                                data="about:blank"></object></div>
                                                                    </div>
                                                                    <div class="c-tooltip--arrow" style="left: 120px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li data-v-41258f40="" data-v-59015b26=""><input data-v-41258f40=""
                                                            data-v-59015b26="" id="answerAccurate" type="radio"
                                                            name="answerOption"><label data-v-41258f40=""
                                                            data-v-59015b26="" for="answerAccurate"
                                                            class="answerAccurate_label float-right"></label><!---->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-41258f40="" data-v-59015b26="" class="request-box">
                                        <div data-v-45a3e27e="" data-v-41258f40=""
                                            class="c-application c-typography mb-4 c-body1 f-semi-bold"
                                            data-v-59015b26="" style="color: rgb(60, 65, 68);"> 공개 설정 </div>
                                        <div data-v-41258f40="" data-v-59015b26="" class="request-box-cont">
                                            <div data-v-41258f40="" data-v-59015b26=""
                                                class="flex flex-row align-center"><svg data-v-bd9f2bcc=""
                                                    data-v-41258f40="" width="16" height="16" viewBox="0 0 16 16"
                                                    fill="black" xmlns="http://www.w3.org/2000/svg"
                                                    class="mr-4 c-application c-icon" data-v-59015b26=""
                                                    style="fill: rgb(118, 125, 130);">
                                                    <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z">
                                                    </path>
                                                    <path data-v-bd9f2bcc=""
                                                        d="M8.75 10.75C8.75 11.1642 8.41421 11.5 8 11.5C7.58579 11.5 7.25 11.1642 7.25 10.75C7.25 10.3358 7.58579 10 8 10C8.41421 10 8.75 10.3358 8.75 10.75Z">
                                                    </path>
                                                    <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M8 4.5C8.27614 4.5 8.5 4.72386 8.5 5V8.5C8.5 8.77614 8.27614 9 8 9C7.72386 9 7.5 8.77614 7.5 8.5V5C7.5 4.72386 7.72386 4.5 8 4.5Z">
                                                    </path>
                                                </svg><span data-v-45a3e27e="" data-v-41258f40=""
                                                    class="c-application c-typography c-body2" data-v-59015b26=""
                                                    style="color: rgb(118, 125, 130);"><strong data-v-41258f40=""
                                                        data-v-45a3e27e="">답변이 남겨지면 수정/삭제는 불가능</strong>하며, 사례로 공개됩니다.
                                                </span></div>
                                            <div data-v-41258f40="" data-v-59015b26=""
                                                class="float-right anonymous_label-wrap"><input data-v-41258f40=""
                                                    data-v-59015b26="" id="anonymous" type="checkbox"
                                                    name="anonymous"><label data-v-41258f40="" data-v-59015b26=""
                                                    id="anonymous_label" for="anonymous" class="h7 left text-sub"
                                                    style="font-size: 14px !important;">비공개로 요청 (3,000원)</label></div>
                                        </div>
                                    </div>
                                    <div data-v-41258f40="" data-v-59015b26="" class="request-box">
                                        <div data-v-41258f40="" data-v-59015b26="" class="request-box-cont"><button
                                                data-v-4e8c2e4a="" data-v-41258f40=""
                                                class="c-application c-button xlarge primary full fill"
                                                data-v-59015b26=""><!---->
                                                <div data-v-4e8c2e4a="" class="c-button--icon"></div> 요청하기 <div
                                                    data-v-4e8c2e4a="" class="c-button--icon"></div>
                                            </button>
                                            <p data-v-41258f40="" data-v-59015b26=""
                                                class="text-center text-sub mt-5 h7">남은 무료 횟수: 무제한</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span></div>
        </div>
    </div>
</body>

</html>