@charset "UTF-8";

#main-grid {
    padding-top: 0!important;
}
.c-new-grid.fluid {
    padding: 0;
}

.main-grid-component {
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    padding-top: 48px!important;
}
.c-new-grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.c-new-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}