<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/question-board/question-board-view.css">
    <link rel="stylesheet" href="/css/main-page/header.css">
    <link rel="stylesheet" href="/css/main-page/footer.css">
    <title>헤이닥터</title>
</head>
<body>
    <div id="__nuxt">
        <div id="__layout">
            <div>
                <div>
                    <!--헤더 시작-->
                    <div data-fetch-key="" class="header-layout">
                        <div class="header-wrapper">
                            <div id="header-layout">
                                <header th:replace="~{/main-page/header :: #post-header}"></header>
                            </div>
                        </div>

                        <!-- 헤더 끝 -->

                        <nav id="subHeader" class="c-sub-header appear">
                            <div class="c-application c-new-grid container" style="background-color:inherit;">
                                <div class="c-application c-new-row">
                                    <div class="c-application c-new-col">
                                        <div class="c-application c-tabs c-tabs--menu-container c-sub-header-tabs c-tabs--horizontal with-header">
                                            <div class="c-tabs--menu-wrapper type-wrapper">
                                                <div class="c-tabs--menu-button active">
                                                    <button class="c-application c-button c-sub-header-menu medium primary fill">
                                                        <div class="c-button--icon"></div>
                                                        전체
                                                        <div class="c-button--icon"></div>
                                                    </button>
                                                </div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill ">
                                                            <div class="c-button--icon"></div>비뇨기과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>산부인과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>소아청소년과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div> 안과<div
                                                                class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>이비인후과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>정신건강의학과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>정형외과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>피부과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button">
                                                    <button class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>치과
                                                            <div class="c-button--icon"></div>
                                                        </button></div>
                                                <div class="c-tabs--menu-button"><button
                                                            class="c-application c-button c-sub-header-menu medium primary fill">
                                                            <div class="c-button--icon"></div>기타
                                                            <div class="c-button--icon"></div>
                                                        </button></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="fake-header"></div>
                    </div>
                    <div class="noti-drawer">
                        <div class="c-application c-drawer noti-side-drawer" mask-closable=""></div>
                    </div>
                </div>
            </div>
            <div class="modal">
                <div class="warn-modal">
                    <div id="content-wrap"></div>
                </div>
            </div>
            <div id="main-grid" class="c-application c-new-grid main-grid-component fluid"
                style="min-height: calc(100vh - 324px);">

                <div class="c-application c-new-row">
                    <div class="c-application c-new-col new-col-sm-12 new-col-lg-12 no-gutters">
                        <div class="c-application c-new-grid community-list-nuxt-container container" style="background-color: inherit; margin-top: 80px;">
                            <div class="c-application c-new-row">
                                <div d class="c-application c-new-col new-col-sm-12 new-col-lg-9">
                                    <div class="c-application c-new-col no-gutters">
                                        <div>
                                            <div>
                                                <div class="case-list-card-section">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                </div>
                                                <div class="infinite-loading-container">
                                                    <div class="infinite-status-prompt loading-items">
                                                        <span>
                                                            <div style="width: 50px; height: 50px; overflow: hidden; margin: 0px auto;">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    viewBox="0 0 100 100" width="100" height="100"
                                                                    preserveAspectRatio="xMidYMid meet"
                                                                    style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                                                                    <defs>
                                                                        <clipPath id="__lottie_element_274">
                                                                            <rect width="100" height="100" x="0"
                                                                                y="0"></rect>
                                                                        </clipPath>
                                                                    </defs>
                                                                    <g clip-path="url(#__lottie_element_274)">
                                                                        <g transform="matrix(0.4048864245414734,0,0,0.4048864245414734,29.755678176879883,29.755678176879883)"
                                                                            opacity="0.5" style="display: block;">
                                                                            <g opacity="1"
                                                                                transform="matrix(1,0,0,1,50,50)">
                                                                                <path fill="rgb(42,125,225)"
                                                                                    fill-opacity="1"
                                                                                    d=" M40,0 C40,22.090999603271484 22.090999603271484,40 0,40 C-22.090999603271484,40 -40,22.090999603271484 -40,0 C-40,-22.090999603271484 -22.090999603271484,-40 0,-40 C22.090999603271484,-40 40,-22.090999603271484 40,0z">
                                                                                </path>
                                                                            </g>
                                                                        </g>
                                                                        <g transform="matrix(0.5951135754585266,0,0,0.5951135754585266,20.244321823120117,20.244321823120117)"
                                                                            opacity="0.5" style="display: block;">
                                                                            <g opacity="1"
                                                                                transform="matrix(1,0,0,1,50,50)">
                                                                                <path fill="rgb(42,125,225)"
                                                                                    fill-opacity="1"
                                                                                    d=" M40,0 C40,22.090999603271484 22.090999603271484,40 0,40 C-22.090999603271484,40 -40,22.090999603271484 -40,0 C-40,-22.090999603271484 -22.090999603271484,-40 0,-40 C22.090999603271484,-40 40,-22.090999603271484 40,0z">
                                                                                </path>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <div class="infinite-status-prompt none-items" style="display: none">
                                                        <span>
                                                            <div class="c-application c-box no-list"
                                                                style="background-color: rgb(252, 252, 252); padding: 24px;">
                                                                <div class="no-list">
                                                                    <div class="c-application c-typography c-body1 f-semi-bold"
                                                                        style="color: rgb(32, 35, 37); text-align: left;">
                                                                        아직 작성된 콘텐츠가 없습니다.
                                                                    </div>
                                                                    <div class="c-application c-typography c-body2"
                                                                        style="color: rgb(118, 125, 130); text-align: left;">
                                                                        질문이 있나요?
                                                                        지금 현직자에게 직접 물어보세요.
                                                                    </div>
                                                                </div>
                                                                <button class="c-application c-button medium primary outline blue q-button">
                                                                    <div class="c-button--icon"></div>
                                                                    현직자에게 질문하기
                                                                    <div class="c-button--icon"></div>
                                                                </button>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 오른쪽 개인정보 -->
                                <div class="c-application c-new-col new-col-lg-3 new-offset-lg-0">
                                    <aside class="case-list-side-box">
                                        <div class="p-relative">
                                            <div>
                                                <section class="user-profile-section">
                                                    <div class="mr-10">
                                                        <div class="image-upload-wrapper"><label
                                                                for="imageUploadWrapper">
                                                                <div class="c-application c-avatar--container large">
                                                                    <i class="c-avatar image large"
                                                                        style="background-image: url(&quot;https://cdn.comento.kr/images/illust/illust-photo-upload.svg&quot;); background-size: 150%; background-position: center center;"></i>
                                                                    <div class="c-avatar--item">

                                                                    </div>
                                                                </div>
                                                            </label> <input id="imageUploadWrapper" type="file"
                                                                name="imageUploadWrapper"
                                                                accept="image/jpg,image/png,image/jpeg,image/gif">
                                                        </div>
                                                    </div>
                                                    <div class="user-information-wrapper">
                                                        <div class="c-application c-typography mb-4 c-body1 f-regular"
                                                            style="color: rgb(32, 35, 37);">
                                                            <span th:text="${userVO.userName}"></span>
                                                        </div>
                                                        <div class="c-application c-typography c-caption1"
                                                            style="color: rgb(118, 125, 130);">
                                                            <span th:text="${userVO.userType == 'USER' ? '일반 사용자' : '의사'}"></span>
                                                        </div>
                                                        <div class="c-application c-typography c-caption1"
                                                            style="color: rgb(118, 125, 130);">
                                                            <span th:text="${userVO.userType == 'USER' ? '' : '전문의'}"></span>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>

                                        <div class="EID-CM054-A">
                                            <button class="c-application c-button mb-16 mt-16 medium primary full fill q-button">
                                                <div class="c-button--icon"></div>
                                                질문하기
                                                <div class="c-button--icon"></div>
                                            </button>
                                        </div>
                                        <div class="pt-seoul-woman-up-banner mt-24"><img
                                                src="https://cdn.comento.kr/images/banner/banner-ybm.png"
                                                alt="TOEIC, TOEIC S&amp;W 성적 보유자 YBM 그랜드슬래머 인증서 무료 발금"></div>

                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fab-with-sub-item-container EID-CM054-original" d>
                    <div class="floating-button fab-with-overlay"><svg width="36" height="36" viewBox="0 0 36 36"
                            fill="black" xmlns="http://www.w3.org/2000/svg" class="c-application c-icon"
                            style="fill: rgb(255, 255, 255);">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M19.25 6C19.25 5.30964 18.6904 4.75 18 4.75C17.3096 4.75 16.75 5.30964 16.75 6V16.75H6C5.30964 16.75 4.75 17.3096 4.75 18C4.75 18.6904 5.30964 19.25 6 19.25H16.75V30C16.75 30.6904 17.3096 31.25 18 31.25C18.6904 31.25 19.25 30.6904 19.25 30V19.25H30C30.6904 19.25 31.25 18.6904 31.25 18C31.25 17.3096 30.6904 16.75 30 16.75H19.25V6Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <footer th:replace="~{/main-page/footer :: #footer}"></footer>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/department.js"></script>
<script src="/js/question-board/util.js"></script>
<script src="/js/question-board/question-board-view.js"></script>
<script>
    $("a.service-block").on('click', function (e) {
        e.preventDefault();
        showWarnModal("서비스 준비 중 입니다.");
    })
</script>
</html>