<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/error.css">
    <title>Page Not Found!</title>
</head>
<body>
    <div class="section">
        <h1>404</h1>
        <h2>페이지를 찾을 수 없습니다.</h2>
        <p>
            존재하지 않거나, 사용할 수 없는 페이지입니다.
        <br>
        입력한 주소가 정확한지 다시 확인해주세요.
        </p>
        <button class="btn btn-outline" onclick="location.href='https://comento.kr/?index'">
            홈페이지 돌아가기 
            <img src="https://cdn.comento.kr/images/icon/icon-textArrow-medium-line-blue.svg" alt>
        </button>
    </div>
</body>
</html>