<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login-start.css">
    <title>로그인</title>
</head>
<body>
    <div id="app">
        <div class="c-application c-grid main-grid-component fluid" style="min-height: 100vh; background-color: rgb(255, 255, 255);">
            <div class="c-application c-row">
                <div id="login" class="mb-85">
                    <div class="c-application c-box login-view-wrapper" style="background-color: rgb(255, 255, 255); padding: 60px 38.5px;">
                        <div>
                            <div class="c-application c-typography c-headline3 f-semi-bold mb-40" style="color: rgb(32, 35, 37); line-height: 140%; font-size: 24px;"> 로그인 </div>
                        </div>
                        <div>
                            <div class="register-buttons-container">
                                <div class="register-button c-pointer full email">
                                    <div class="register-button-icon">
                                        <img src="https://cdn.comento.kr/icon/icon-email-medium.svg">
                                    </div>
                                    <div class="ml-6">
                                        <div class="c-application c-typography c-body1 f-regular"> 이메일로 로그인하기 </div>
                                    </div>
                                </div>
                                <div class="register-button c-pointer full kakao">
                                    <div class="register-button-icon">
                                        <img src="https://cdn.comento.kr/icon/icon-kakao-medium.svg" alt>
                                    </div>
                                    <div class="ml-6">
                                        <div class="c-application c-typography c-body1 f-regular" style="color: inherit;"> 카카오로 1초만에 시작하기 </div>
                                    </div>
                                </div>
                                <div class="register-button c-pointer full naver">
                                    <div class="register-button-icon">
                                        <img src="https://cdn.comento.kr/icon/icon-naver-medium.svg">
                                    </div>
                                    <div class="ml-6">
                                        <div class="c-application c-typography c-body1 f-regular wr">  네이버로 시작하기 </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="c-application c-typography agreement-wrapper mb-8 c-caption1" style="color: rgb(173, 179, 184); text-align: center;">
                                    <a href="https://comento.kr/agreement" target="_self">
                                        <u class="c-application c-typography c-caption1" style="color: rgb(118, 125, 130);"> 이용약관 </u>
                                    </a>
                                    
		및
		
                                    <a href="https://comento.kr/agreement" target="_self">
                                        <u class="c-application c-typography c-caption1" style="color: rgb(118, 125, 130);"> 개인정보 처리방침 </u>
                                    </a>
                                    
		확인 후 동의합니다
	
                                </p>
                                <a href="https://comento.kr/register" target="_self">
                                    <u class="c-application c-typography d-block c-caption1" style="color: rgb(42, 125, 225); margin-left: 87px;">
                                        회원이 아니신가요?
                                    </u>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>