<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 왼쪽 배너 -->
<div class="c-application c-swiper" indicator-color="dark"
     indicator-position="outside" slides-per-view="4" with-controls="true"
     controls-position="outside" controls-color="dark" spacing="24"
     style="width:50%;">
    <div class="swiper-container swiper swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper second-banner">
            <!-- each slide 한 페이지 -->
            <div class="swiper-slide swiper-slide-active"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                            <span class="c-application c-chip fill  info medium">슈퍼 얼리버드
                                                                                <!---->
                                                                            </span>
                                </div>
                            </div>
                            <img src="/image/main-page/ex-img.png"
                                 alt="" loading="lazy"
                                 class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    유통∙물류
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 2차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    글로벌 빅4 컨설팅펌 컨설턴트와 함께하는 SCM(ERP) 실무 역량
                                    높이기
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 5주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 5월
                                                                                21일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-next"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    마케팅
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 7차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    20억을 집행해 본 마케터에게 배우는 실전 퍼포먼스 마케팅
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 6주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 5월
                                                                                25일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    제조∙연구
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 4차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    전동화 하드웨어 설계 실무 실습 경험하고 개발자 성장 코스 밟기
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 6주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 5월
                                                                                31일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    제조∙연구
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 5차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    회로설계부터 디버깅까지 ChatGPT ∙ FPGA를 활용한 임베디드
                                    시스템 설계 방법
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 6월
                                                                                3일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide"
                 style="width: 259px; margin-right: 24px;">
                <div data-v-1d785f77="" class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    구매∙MD
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 5차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    재고 관리부터 신상품 개발까지, 엑셀 실무 데이터로 배우는 MD 핵심
                                    역량 키우기
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 6월
                                                                                5일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    데이터사이언스
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 8차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    헬스케어 데이터로 실무에 활용하는 R 빅데이터 분석
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 6주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 6월
                                                                                7일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    구매∙MD
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 5차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    매입부터 행사 보고까지, 빨리 퇴근하고 싶은 바잉 MD를 위한 엑셀
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 6월
                                                                                8일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slide"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                                                                <span
                                                                                        class="c-application c-chip fill  info medium">슈퍼
                                                                                    얼리버드
                                                                                    <!---->
                                                                                </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy"
                                class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    기획∙전략
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 9차 앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    성장하고 싶은 주니어 PM을 위한 Amplitude 분석과 대시보드
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                                                                과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span
                                        class="c-application c-typography c-caption1"
                                        style="color: rgb(173, 179, 184);"> 7월
                                                                                23일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <!---->
            <!---->
            <!---->
        </div>
        <span class="swiper-notification" aria-live="assertive"
              aria-atomic="true">
                                                    </span>
    </div>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
         xmlns="http://www.w3.org/2000/svg"
         id="swiper-button-prev-outside-2868"
         class="swiper-button swiper-button-outside swiper-button-prev-outside second-prev c-application c-icon outside dark swiper-button-disabled"
         style="fill: rgb(32, 35, 37); transform: rotate(-90deg);"
         tabIndex="-1" role="button">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z">
        </path>
    </svg>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
         xmlns="http://www.w3.org/2000/svg"
         id="swiper-button-next-outside-366"
         class="swiper-button swiper-button-outside swiper-button-next-outside second-next c-application c-icon outside dark"
         style="fill: rgb(32, 35, 37); transform: rotate(90deg); opacity: 1; transition: none;"
         tabIndex="0" role="button" aria-label="Next slide"
         aria-disabled="false">
        <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd"
              d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z">
        </path>
    </svg>
    <!---->
    <!---->
    <!---->
</div>
<!-- 오른쪽  -->
<div class="c-application c-swiper" indicator-color="dark"
     indicator-position="outside" slides-per-view="4"
     with-controls="true" controls-position="outside" controls-color="dark"
     spacing="24" style="width:50%;">
    <div class="swiper-container swiper swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapperSecond second-bannerSecond">
            <!-- each slide 한 페이지 -->
            <div class="swiper-slideSecond swiper-slide-active"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    유통∙물류
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 2차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    글로벌 빅4 컨설팅펌 컨설턴트와 함께하는 SCM(ERP) 실무 역량
                                    높이기
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 5주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    5월
                                    21일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond swiper-slide-next"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    마케팅
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 7차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    20억을 집행해 본 마케터에게 배우는 실전 퍼포먼스 마케팅
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 6주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    5월
                                    25일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    제조∙연구
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 4차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    전동화 하드웨어 설계 실무 실습 경험하고 개발자 성장 코스 밟기
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 6주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    5월
                                    31일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    제조∙연구
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 5차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    회로설계부터 디버깅까지 ChatGPT ∙ FPGA를 활용한 임베디드
                                    시스템 설계 방법
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    6월
                                    3일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond"
                 style="width: 259px; margin-right: 24px;">
                <div data-v-1d785f77="" class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    구매∙MD
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 5차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    재고 관리부터 신상품 개발까지, 엑셀 실무 데이터로 배우는 MD 핵심
                                    역량 키우기
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    6월
                                    5일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    데이터사이언스
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 8차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    헬스케어 데이터로 실무에 활용하는 R 빅데이터 분석
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 6주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    6월
                                    7일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    구매∙MD
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 5차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    매입부터 행사 보고까지, 빨리 퇴근하고 싶은 바잉 MD를 위한 엑셀
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    6월
                                    8일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-slideSecond"
                 style="width: 259px; margin-right: 24px;">
                <div class="pt-landing-card mb-0 index">
                    <article class="c-application c-edu-card"
                             style="--card-width: 100%; --image-height: 300px; --background-color: transparent; --title-height: 50px; --border-radius: 10px;">
                        <div class="c-edu-card--image-container">
                            <div class="c-edu-card--chip-container">
                                <div>
                                    <span class="c-application c-chip fill  info medium">슈퍼
                                        얼리버드
                                        <!---->
                                    </span>
                                </div>
                            </div>
                            <!----><img
                                src="/image/main-page/ex-img.png"
                                alt="" loading="lazy" class="c-edu-card--image">
                        </div>
                        <div class="c-edu-card--info-container">
                            <div class="c-edu-card--subtitle">
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(60, 65, 68); font-weight: 400;">
                                    기획∙전략
                                </div>
                                <div class="c-application c-typography mx-4 c-caption1"
                                     style="color: rgb(207, 212, 215);"> ∙
                                </div>
                                <div class="c-application c-typography c-caption1"
                                     style="color: rgb(238, 126, 65);"> 9차
                                    앵콜
                                </div>
                            </div>
                            <div class="c-edu-card--title mt-4">
                                <div class="c-application c-typography c-body1"
                                     style="color: rgb(4, 5, 5); font-weight: 500;">
                                    성장하고 싶은 주니어 PM을 위한 Amplitude 분석과 대시보드
                                </div>
                            </div>
                            <div class="c-edu-card--caption mt-8"><span
                                    class="c-application c-typography c-caption1"
                                    style="color: rgb(173, 179, 184);"> 4주
                                    과정 </span>
                                <hr class="c-application c-divider mx-8 line vertical #EAECEE"
                                    style="border-color: rgb(234, 236, 238);">
                                <span class="c-application c-typography c-caption1"
                                      style="color: rgb(173, 179, 184);">
                                    7월
                                    23일 시작 </span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <!---->
            <!---->
            <!---->
        </div>
        <span class="swiper-notification" aria-live="assertive"
              aria-atomic="true">
        </span>
    </div>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
         xmlns="http://www.w3.org/2000/svg"
         id="swiper-button-prev-outside-2868"
         class="swiper-button swiper-button-outside swiper-button-prev-outside second-prevSecond c-application c-icon outside dark swiper-button-disabled"
         style="fill: rgb(32, 35, 37); transform: rotate(-90deg);" tabIndex="-1"
         role="button">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z">
        </path>
    </svg>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="black"
         xmlns="http://www.w3.org/2000/svg"
         id="swiper-button-next-outside-366"
         class="swiper-button swiper-button-outside swiper-button-next-outside second-nextSecond c-application c-icon outside dark"
         style="fill: rgb(32, 35, 37); transform: rotate(90deg); opacity: 1; transition: none;"
         tabIndex="0"
         role="button" aria-label="Next slide" aria-disabled="false">
        <path data-v-bd9f2bcc="" fill-rule="evenodd" clip-rule="evenodd"
              d="M11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.2071 13.7929C19.5976 14.1834 19.5976 14.8166 19.2071 15.2071C18.8166 15.5976 18.1834 15.5976 17.7929 15.2071L12 9.41421L6.20711 15.2071C5.81658 15.5976 5.18342 15.5976 4.79289 15.2071C4.40237 14.8166 4.40237 14.1834 4.79289 13.7929L11.2929 7.29289Z">
        </path>
    </svg>
    <!---->
    <!---->
    <!---->
</div>
<!---->

</body>
</html>