<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="c-card--replies-wrapper">
    <div class="name-text-container">
        <div class="name-wrapper">
            <div class="c-application c-typography text-truncate c-body2 f-semi-bold"
                 style="color: rgb(32, 35, 37);">
                <div class="case-profile-name">
                    <span>${main.answerTitle}</span>
                    <div class="c-application c-typography ml-4 c-caption1"
                         style="color: rgb(148, 155, 160);">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p data-v-45a3e27e=""
               class="c-application c-typography case-comment c-body2"
               style="color: rgb(60, 65, 68);">
                ${main.answerContent}
            </p>
        </div>
    </div>
    <button type="button" class="c-application c-narrow-button medium" style="color: rgb(110, 167, 235);">
        <div class="c-narrow-button--icon"></div>
        답변 더보기
        <div class="c-narrow-button--icon"></div>
    </button>
</div>
</body>
</html>