<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>

#my-svg {
  display: none;
}


</style>

</head>
<body>
    <div id="my-element">
        Click me
      </div>
      
      <svg id="my-svg">
        <path d="M10 10 L90 90" />
      </svg>
      
</body>
<script>

var myElement = document.getElementById("my-element");
var mySvg = document.getElementById("my-svg");

myElement.addEventListener("click", function() {
  mySvg.style.display = "block";
});


</script>
</html>