@charset "UTF-8";

html{
    border: 0;
    font-family: "Pretendard","Apple SD Gothic Neo","Helvetica Neue",Helvetica,Arial,"Trebuchet MS",sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body{
    margin: 0;
    padding: 0;
}

h3

button {
    box-sizing: border-box;
    border: none;
}

input{
    border: none;
    outline: none;
}

.logo {
    width: 160px;
    height: 36px;
    margin: 33px auto 20px;
    /*background-image: url("../../../static/image/icon/JOONGSHIN.svg");*/
    background-repeat: no-repeat;
    background-size: 100%;
}

#wrap{
    display: flex;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    min-width: 232px;
    max-width: 288px;
    height: 100vh;
    background-color: rgb(152, 196, 230);
}

.nav-container{
    width:100%;
    padding-top: 20px;
}

.nav-box {
    margin-bottom: 40px;
}

.flex-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 82%;
    margin: 0 30px;
}

.nav-title{
    font-weight: bold;
    cursor: pointer;
}

.arrow {
    width: 10px;
    height: 10px;
    background-image: url("/image/icon/arrow.png");
    background-size: 100%;
    margin-left: auto;
    cursor: pointer;
    transform: rotate(0deg);
}

.list li{
    list-style-type: none;
    padding: 6px;
}

.list li:hover{
    cursor: pointer;
    padding: 6px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.inquiries-list li:first-child{
    color:  rgb(240, 240, 240);
    font-weight: bolder;
}

main{
    flex-grow: 1;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title-box{
    width: 90%;
}

.main-container{
    background-color: white;
    width: 90%;
    min-width: 1040px;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

section.top-line {
    width: 100%;
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
}

th {
    background-color: rgb(230, 230, 230);
}

th, td {
    text-align: center;
    padding: 10px;
    text-overflow: ellipsis;
}

td.success {
	color: rgb(14, 123, 14);
	font-weight: bold;
	letter-spacing :-1.5px; 
}

td.pending {
	color: rgb(243, 91, 91);
	font-weight: bold;
	letter-spacing :-1.5px; 
}


.delete-btn {
    padding: 10px;
    width: 100px;
    background-color: rgb(210, 210, 210);
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}

.delete-btn:hover {
    background-color: rgb(180, 180, 180);
}


a.paging {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

a.paging-checked {
    color: rgb(235 124 120);
    background: rgba(235, 124, 120, 0.1);
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

a.paging-move {
    margin: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

h5#content {
    padding-bottom: 64px;
    line-height: 28px;
    word-break: break-word;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*updated*/


#content{
    width: 100%;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

td{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

#content-wrap{
    height: 80%;
}

.info{
    display: block;
    font-size: 1em;
    margin-block-start: 2.33em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



#content{
    width: 100%;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

td{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

#content-wrap{
    height: 80%;
}


.inquiries-list li:first-child {
    color: white;
    font-weight: bolder;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    text-align: center;
}

#paging-wrap{
    text-align: center;
    margin-top: 80px;
}


/*updated*/


#content{
    width: 100%;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

td{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

#content-wrap{
    height: 80%;
}

.info{
    display: block;
    font-size: 1em;
    margin-block-start: 2.33em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



#content{
    width: 100%;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

td{
    background-color: white;
    /*border-bottom-style: solid;*/
    border-bottom: 1pt solid #35528E;
}

#content-wrap{
    height: 80%;
}


.inquiries-list li:first-child {
    color: white;
    font-weight: bolder;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    text-align: center;
}

#paging-wrap{
    text-align: center;
    margin-top: 80px;
}
