@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

h3

button {
    box-sizing: border-box;
    border: none;
}

input{
    border: none;
    outline: none;
}

.logo {
    width: 160px;
    height: 36px;
    margin: 33px auto 20px;
    background-image: url("../../../static/image/icon/JOONGSHIN.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#wrap{
    display: flex;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    min-width: 232px;
    max-width: 288px;
    height: 100vh;
    background-color: rgb(152, 196, 230);
}

.nav-container{
    width:100%;
    padding-top: 20px;
}

.nav-box {
    margin-bottom: 40px;
}

.flex-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 82%;
    margin: 0 30px;
}

.nav-title{
    font-weight: bold;
    cursor: pointer;
}

.arrow {
    width: 10px;
    height: 10px;
    background-image: url("../../../static/image/icon/arrow.png");
    background-size: 100%;
    margin-left: auto;
    cursor: pointer;
    transform: rotate(0deg);
}

.list li{
    list-style-type: none;
    padding: 6px;
}

.list li:hover{
    cursor: pointer;
    padding: 6px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.board-list li:first-child{
    color:  rgb(240, 240, 240);
    font-weight: bolder;
}

main{
    flex-grow: 1;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail{
    background-color: white;
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    margin: auto;
}

.title{
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    width: 80%;
    padding-left: 15px;
    margin-bottom: 5px;
}

.profile{
    display: flex;
    width:80%;
}
.profile-img{
    background-image: url("../../../static/image/icon/profile-image.png");
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.more{
    background-image: url("../../../static/image/icon/more.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin:10px;
    position:relative;
    left: 85%;
}

.detail-profile {
    margin: 5px 15px;
}

.content{
    width:80%
}

.content-img{
    background-image: url("../../../static/image/icon/ex-img.jpg");
    background-size: 100%;
    width: 300px;
    height: 300px;
    margin: auto;
}

.content-text{
    border-radius: 15px;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 200px;
    padding: 15px;
    margin: 10px;
}

.edit-btn, .delete-btn{
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 5px;
    margin-left: 25px;
    border-radius: 15px;
    color: white;
    border: none;
    font-weight: bolder;
}

