<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heydoctor.app.mapper.AdminMapper">
    <select id="selectLists" resultType="questionListDTO">
        SELECT QUESTION_ID, U.USER_ID, QUESTION_TITLE, QUESTION_CONTENT,
               QUESTION_REGISTER_DATETIME, QUESTION_IS_PUBLIC, QUESTION_LIKE_COUNT,
               DOCTOR_DEPARTMENT_TYPE, READ_COUNT, U.USER_NAME
        FROM TBL_USER U JOIN TBL_QUESTION Q
        ON U.USER_ID = Q.USER_ID
        <![CDATA[WHERE ROWNUM > #{page} * 10 AND ROWNUM <=  #{page} * 10 + 10]]>
    </select>
    <select id="select" resultType="questionDTO">
        SELECT QUESTION_ID, U.USER_ID, QUESTION_TITLE, QUESTION_CONTENT,
               QUESTION_REGISTER_DATETIME, QUESTION_IS_PUBLIC, QUESTION_LIKE_COUNT,
               DOCTOR_DEPARTMENT_TYPE, READ_COUNT, U.USER_NAME
        FROM TBL_USER U JOIN TBL_QUESTION Q
        <![CDATA[ON U.USER_ID = Q.USER_ID AND QUESTION_ID = #{questionId}]]>
    </select>

    <delete id="delete">
        <![CDATA[DELETE FROM TBL_QUESTION WHERE QUESTION_ID = #{questionId}]]>
    </delete>
</mapper>