<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heydoctor.app.mapper.AnswerMapper">
    <insert id="insert">
        INSERT INTO TBL_ANSWER (
                ANSWER_ID, USER_ID, QUESTION_ID, ANSWER_TITLE,
                ANSWER_CONTENT, ANSWER_IS_PUBLIC, ANSWER_LIKE_COUNT,
                ANSWER_IS_ADOPTED, DOCTOR_NAME, HOSPITAL_NAME, DOCTOR_DEPARTMENT_TYPE
        )
        VALUES (
                SEQ_ANSWER.NEXTVAL, #{userId}, #{questionId}, #{answerTitle},
                #{answerContent}, #{answerIsPublic}, #{answerLikeCount},
                #{answerIsAdopted}, #{doctorName}, #{hospitalName}, #{doctorDepartmentType}
       )
    </insert>

    <select id="selectByQuestionId" resultType="answerDTO" parameterType="list">
        SELECT ANSWER_ID, USER_ID, QUESTION_ID, ANSWER_TITLE,
               ANSWER_CONTENT, ANSWER_REGISTER_DATETIME, ANSWER_IS_PUBLIC, ANSWER_LIKE_COUNT,
               ANSWER_IS_ADOPTED, DOCTOR_NAME,
                (
                    SELECT
                        (COUNT(ANSWER_ID) / (SELECT COUNT(ANSWER_ID) FROM TBL_ANSWER WHERE USER_ID = D.USER_ID GROUP BY USER_ID))
                    FROM TBL_ANSWER
                    WHERE USER_ID = D.USER_ID AND ANSWER_IS_ADOPTED = 1
                    GROUP BY USER_ID
                ) ADOPTED_ANSWER_PERCENT, HOSPITAL_NAME, DOCTOR_DEPARTMENT_TYPE
        FROM TBL_ANSWER D
        WHERE QUESTION_ID = #{questionId}
    </select>

    <select id="selectByAdoptCount" resultType="AnswerVO">
        SELECT U.USER_ID, U.USER_TYPE, U.USER_NAME, COUNT(A.USER_ID) AS ANSWER_COUNT, SUM(A.ANSWER_IS_ADOPTED) AS ADOPTED_ANSWER_COUNT
        FROM TBL_USER U
        LEFT JOIN TBL_ANSWER A ON U.USER_ID = A.USER_ID
        WHERE U.USER_TYPE = 'DOCTOR' AND A.ANSWER_IS_ADOPTED = 1
        GROUP BY U.USER_ID, U.USER_TYPE, U.USER_NAME
        ORDER BY COUNT(A.USER_ID)
        DESC
    </select>

</mapper>