<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heydoctor.app.mapper.MainMapper">
    <!-- <select id="selectReadCount" resultType="MainDTO">
        SELECT Q.USER_ID, Q.QUESTION_ID, QUESTION_TITLE, QUESTION_CONTENT, QUESTION_REGISTER_DATETIME,QUESTION_LIKE_COUNT, DOCTOR_DEPARTMENT_TYPE,READ_COUNT,Q.QUESTION_ID,DOCTOR_DEPARTMENT_TYPE, USER_NAME, A.ANSWER_TITLE, A.ANSWER_CONTENT
        FROM TBL_QUESTION Q
        JOIN TBL_USER U ON Q.USER_ID = U.USER_ID
        JOIN TBL_ANSWER A ON Q.USER_ID = A.USER_ID
        ORDER BY READ_COUNT
        DESC
    </select> -->

    <select id="selectQuestionReadCount" resultType="MainDTO">
        SELECT Q.USER_ID, QUESTION_TITLE, QUESTION_CONTENT, QUESTION_LIKE_COUNT, READ_COUNT,DOCTOR_DEPARTMENT_TYPE, U.USER_NAME,Q.QUESTION_ID
        FROM TBL_QUESTION Q
        JOIN TBL_USER U ON Q.USER_ID = U.USER_ID
        ORDER BY READ_COUNT
        DESC
    </select>

    <select id="selectAnswerAll" resultType="MainDTO">
        SELECT A.QUESTION_ID, A.ANSWER_TITLE, A.ANSWER_CONTENT, A.USER_ID, U.USER_NAME
        FROM TBL_ANSWER A
        JOIN TBL_QUESTION Q ON A.QUESTION_ID = Q.USER_ID
        JOIN TBL_USER U ON A.USER_ID = U.USER_ID
    </select>

    <select id="selectAdoptCount" resultType="MainDTO">
        SELECT T.USER_ID, T.USER_NAME, T.DOCTOR_INTRODUCTION, T.DOCTOR_DEPARTMENT_TYPE, COUNT(A.ANSWER_CONTENT) AS ANSWER_COUNT
        FROM
            (SELECT U.USER_ID, U.USER_NAME, D.DOCTOR_INTRODUCTION, D.DOCTOR_DEPARTMENT_TYPE
            FROM TBL_USER U
            JOIN TBL_DOCTOR D ON U.USER_ID = D.USER_ID) T
        JOIN TBL_ANSWER A ON T.USER_ID = A.USER_ID
        GROUP BY T.USER_ID, T.USER_NAME, T.DOCTOR_INTRODUCTION, T.DOCTOR_DEPARTMENT_TYPE
    </select>

    <select id="selectVisitCount" resultType="MainDTO">
        SELECT H.HOSPITAL_ID, H.HOSPITAL_NAME, H.HOSPITAL_LOCATION, T.USER_NAME, T.DOCTOR_DEPARTMENT_TYPE, T.DOCTOR_INTRODUCTION, T.DOCTOR_VISIT_COUNT
        FROM
          (SELECT U.USER_ID, USER_NAME, DOCTOR_DEPARTMENT_TYPE, D.DOCTOR_INTRODUCTION, DOCTOR_VISIT_COUNT, HOSPITAL_ID
           FROM TBL_USER U
           JOIN TBL_DOCTOR D ON U.USER_ID = D.USER_ID) T
        JOIN TBL_HOSPITAL H ON T.HOSPITAL_ID = H.HOSPITAL_ID
        ORDER BY DOCTOR_VISIT_COUNT DESC
    </select>
</mapper>