<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heydoctor.app.mapper.MypageMapper">


    <!-- 내가 쓴 질문 보기-->
    <select id="selectQuestionAll" resultType="questionVO">
        SELECT QUESTION_ID, USER_ID, QUESTION_TITLE,
                 QUESTION_REGISTER_DATETIME, DOCTOR_DEPARTMENT_TYPE
        FROM TBL_QUESTION
        WHERE USER_ID = #{id}
    </select>

<!--    내 대답 보기 -->
    <select id="selectAnswerAll" resultType="answerDTO">
        SELECT a.ANSWER_ID, a.USER_ID, a.ANSWER_TITLE, a.ANSWER_REGISTER_DATETIME, q.QUESTION_TITLE
        FROM TBL_ANSWER a
        INNER JOIN TBL_QUESTION q ON a.QUESTION_ID = q.QUESTION_ID
        WHERE a.USER_ID = #{id}
    </select>

    <!-- 내 댓글 보기 -->
    <select id="selectReplyAll" resultType="replyDTO">
    SELECT a.REPLY_ID, a.USER_ID, a.ANSWER_ID, a.REPLY_CONTENT, a.REPLY_REGISTER_DATETIME,
           b.ANSWER_TITLE, c.QUESTION_TITLE
    FROM TBL_REPLY a
    INNER JOIN TBL_ANSWER b ON a.ANSWER_ID = b.ANSWER_ID
    INNER JOIN TBL_QUESTION c ON b.QUESTION_ID = c.QUESTION_ID
    WHERE a.USER_ID = #{id}
</select>

        <!-- 유저정보 불러오기 -->
    <select id ="selectUser" resultType="UserVO">
        SELECT USER_ID, USER_NAME, USER_EMAIL
    FROM TBL_USER
    WHERE USER_ID = #{id}
    </select>


    <!-- STATUS VISITCOUNT 불러오기  -->
    <select id="selectVisit" resultType="DoctorVO">
        SELECT USER_ID, DOCTOR_VISIT_COUNT
        FROM TBL_DOCTOR
        WHERE USER_ID = #{id}
    </select>

    <!-- STATUS 채택 수 불러오기  -->
    <select id="selectAdopted" resultType="AnswerVO">
        SELECT USER_ID, DOCTOR_VISIT_COUNT
        FROM TBL_DOCTOR
        WHERE USER_ID = #{id}
    </select>

    <!-- STATUS QUESTION 좋아요 수 불러오기  -->
    <select id="selectQuestionLike" resultType="QuestionLikeCountVO">
    SELECT QUESTION_ID, COUNT(USER_ID)
    FROM TBL_QUESTION_LIKE_COUNT
    WHERE USER_ID = #{id}
    GROUP BY QUESTION_ID
    </select>

    <!-- STATUS ANSWER 좋아요 수 불러오기  -->
    <select id="selectAnswerLike" resultType="AnswerLikeCountVO">
    SELECT ANSWER_ID, COUNT(USER_ID)
    FROM TBL_ANSWER_LIKE_COUNT
    WHERE USER_ID = #{id}
    GROUP BY ANSWER_ID
    </select>

    <!-- STATUS REPLY 좋아요 수 불러오기  -->
    <select id="selectReplyLike" resultType="ReplyLikeCountVO">
    SELECT REPLY_ID, COUNT(USER_ID)
    FROM TBL_REPLY_LIKE_COUNT
    WHERE USER_ID = #{id}
    GROUP BY REPLY_ID


    </select>

</mapper>