<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heydoctor.app.mapper.MypageMapper">

    <!-- 내가 쓴 게시글 보기-->
    <select id="selectList" resultType="questionVO">
        SELECT QUESTION_ID, USER_ID, QUESTION_TITLE,
                QUESTION_REGISTER_DATETIME, QUESTION_LIKE_COUNT,
                DOCTOR_DEPARTMENT_TYPE
        FROM TBL_QUESTION
    </select>



</mapper>