<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heydoctor.app.mapper.QnaMapper">
    <select id="selectList" resultType="qnaVO">
        SELECT QNA_ID, USER_ID, QNA_TITLE, QNA_CONTENT, QNA_REGISTER_DATETIME, QNA_IS_PUBLIC, DOCTOR_DEPARTMENT_TYPE
        FROM TBL_QNA;

        <![CDATA[WHERE ROWNUM > #{page} * 10 AND ROWNUM <= #{page} * 10 + 10]]>
        <choose>
            <when test="search != null">
                AND FALSE
            </when>
        </choose>
    </select>

    <select id="selectOne" resultType="qnaDTO">
        SELECT QNA_ID, USER_ID, QNA_TITLE, QNA_CONTENT, QNA_REGISTER_DATETIME, QNA_IS_PUBLIC, DOCTOR_DEPARTMENT_TYPE,
         U.USER_NAME
        FROM TBL_USER U JOIN TBL_QNA Q
        ON U.USER_ID = Q.USER_ID AND QNA_ID = #{qnaId}
    </select>

    <delete id="delete">
        <selectKey keyProperty="qnaId" resultType="qnaVO">
            SELECT SEQ_QNA FROM DUAL
        </selectKey>
        DELETE TBL_QNA WHERE QNA_ID = #{qnaId}
    </delete>
</mapper>